a { text-decoration: none; color: white; }
a:hover { text-decoration: underline; }
#profile_photo { background: #a6b9ff; width: 100%; height: 100%; overflow: hidden; position: fixed; left: 0; z-index: -1; top: 0; display: block; }
#profile_photo img { position: absolute; }

#front_box {
	padding: 30px 30px 20px;
	position: fixed;
	top: 50px;
	width: 500px;
	left: 25px;
}
#front_box h1{
	color:white;
}
#front_box h2{
            color:white;
}
#front_box ul{
	margin-top:0.5em;
}
#front_box li{
    display: inline;
    margin-right: 10px;
    font-size: 22px;
}
